@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  height: 100%;
}

button,
input,
textarea,
select,
option {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  span {
    pointer-events: none;
  }
}

input {
  cursor: text;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

img {
  width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
