// fonts
$main-font: "Poppins", sans-serif;

// colors
$primary-bg-color: #ebebeb;
$secondary-bg-color: #f6f6f6;
$light-grey-color: #d2d2d2;
$dark-grey-color: #6b6b6b;
$red-color: #ff5f5f;
$white-color: #fff;
$black-color: #353535;
$icon-color: #a6a6a6;
$text-color: #616161;
$blue-color: #007DFF;
$green-color: #008000;