.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $black-color, $alpha: .5);
    z-index: 10;

    .delete-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 150px;
        background-color: $primary-bg-color;
        border-radius: 5px;
        z-index: 11;

        &__panel {
            @include d-flex(column, center, center);
            gap: 20px;
            width: 100%;
            height: 100%;
        }

        .action__buttons {
            @include d-flex(row, center, flex-end);
            gap: 10px;
        }
    }
}