.table {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    background-color: $secondary-bg-color;
    border-radius: 5px;
    
    td {
        padding: 10px 15px;
    }

    &__buttons-wrapper {
        @include d-flex(row, center, unset);
        gap: 10px;
    }
}